.card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: white;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.card-header {
    background-color: #f5f5f5;
    padding: 12px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.imagem-conteudo {
    width: 100%;
    height: 160px;
    /* Altura fixa para a imagem */
    overflow: hidden;
}

.imagem-conteudo img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-titulo {
    font-size: 18px;
    font-weight: bold;

    margin-top: 15px;
    margin-bottom: 5px;

    color: black;
}

.card-status {
    font-size: 14px;
    color: #666;
}

.card-content {
    padding: 15px;
}

.card-descricao {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #000;
}

.card-divider {
    height: 1.2px;
    background-color: #e0e0e0;
    margin: 0px;
}

.card-highlight {
    font-size: 16px;
    margin-top: 10px;
    color: black;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid #e0e0e0;
}

.card-footer button {
    width: 90%;
    padding: 10px;
    background: rgba(69, 196, 130, 1);
    color: #000;
    font-size: 20px;
    border: 0px;
}