.public-Header {
    MAX-width: 100%;
    
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;

    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(245, 245, 245);
    
    z-index: 3000;
}



.Logo {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease;
}

.Logo:hover {
    transform: translateX(2px);
}

.Logo img {
    width: auto;
    max-height: 45px;
    height: 100%;
}

.Logo span {
    font-size: 40px;
    font-weight: bold;
}






.Main-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}


.Main-nav a {
    text-decoration: none;
    font-size: 1.05rem;
    position: relative;
    color: #2c2c2c;
    transition: 0.3s ease;
}

.Main-nav a:hover {
    text-decoration: underline;
    transform: translateY(-3px);
}