/* SECTION Hero*/
#section-Hero {
    padding: 4rem 0;
    background-color: white;
}

.container-Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 2rem;
    flex-wrap: wrap;
}



.Texto-conteudoDoador {
    flex: 1;
}

.Texto-conteudo h1 {
    font-size: 40px;
    flex: 1;
    margin-bottom: 10px;
}

.Texto-conteudo p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 3rem;
}

.Botao-doacaoRap {
    padding: 12px 30px;

    display: inline-block;

    background: var(--primary-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: white;
    
    font-size: 16px;
    font-weight: bold;
    
    border: 0;
    border-radius: 5px;
    
    cursor: pointer;
    transition: 0.3s ease;
}

.Botao-doacaoRap:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color-hover);
}



.Imagem-conteudo {
    flex: 1;
    max-width: 800px;
    max-height: 800px;
}

.Imagem-conteudo img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

