/* SECTION Hero*/
#section-Hero {
    padding: 4rem 0;
    background-color: white;
}

.container-Hero {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 2rem;
    flex-wrap: wrap;
}



.Texto-conteudoDoador {
    flex: 1;
}

.Texto-conteudo h1 {
    font-size: 40px;
    flex: 1;
    margin-bottom: 10px;
}

.Texto-conteudo p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 3rem;
}

.Botao-doacaoRap {
    display: inline-block;
    padding: 12px 30px;
    background: linear-gradient(45deg, #FFD600, #4AC47F);
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.Botao-doacaoRap:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.Botao-doacaoRap:not(:hover) {
    transform: scale(1);
    transition: transform 1s ease;
}

.Imagem-conteudo {
    flex: 1;
}

.Imagem-conteudo img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

