<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="IconeSite" href="../assets/Logo.svg">
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="../style/modal.css">
</head>

<!--Modal de doação rapida-->
<div id="modalDoacao" class="modal">
    <div class="modal-conteudo">
        <span class="fechar" onclick="fecharModal()">&times;</span>
        <!-- Formulario de doação -->
        <div class="Container-doar">
            <div class="Doar-card">
                <div class="Info">
                    <img src="../assets/Logo.svg" alt="internet">
                    SICRON
                    <h1>Seus Dados</h1>
                    <p>Para continuar com o pagamento, precisamos que você nos forneça algumas
                        informações.</p>
                </div>

                <!-- Campo de nome-->
                <form action="#" method="POST" class="Doar-rapido">
                    <div class="Grupo-input">
                        <label for="username" class="form-label">Nome completo</label>
                        <input type="text" id="username" name="username" class="Form-input"
                            placeholder="Entre com seu nome completo" required>
                    </div>
                    <!-- Campo de email-->
                    <div class="Grupo-input">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="Form-input" placeholder="Entre com seu email"
                            required>
                    </div>
                    <!-- Campo de data de nascimento -->
                    <div class="Grupo-input">
                        <label for="nascimento" class="form-label">Data de Nascimento</label>
                        <input type="date" id="nascimento" name="nascimento" class="Form-input" required>
                    </div>

                    <button type="submit" class="Botao-proximo">Próximo</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal de doação rapida-->

<body>
    <!--Cabeçalho-->
    <header class="Site-header">
        <div class="Header-container">
            <div class="Logo">
                <a href="#">
                    <img src="../assets/Logo.svg" alt="IconeONG" width="400" height="400">
                </a>
                <span class="Nome-site">Sicron</span>
            </div>
            <nav class="Main-nav" aria-label="Main navigation">
                <a href="#" class="Nav-link">INICIO</a>
                <a href="#" class="Nav-link">ONGs</a>
                <button class="doacao-btn" onclick="abrirModal()">Doação Rápida</button>
                <a href="../view/Sobre.html" class="Nav-link">SOBRE NÓS</a>
                <button id="darkModeToggle" class="modo-escuro-btn">🌓 MODO ESCURO</button>

            </nav>
        </div>
        <!--Cabeçalho-->

    </header>
    <!-- Seção estatistica -->
    <section class="Secao-doadores">
        <div class="Container">
            <div class="Apresentação_conteudo">
                <div class="Texto-conteudo">
                    <h1>Conectando doadores a quem realmente precisa</h1>
                    <p>Faça a diferença na vida de pessoas de forma segura e transparente</p>
                    <a href="#" class="Botao">Explorar ONGs</a>
                </div>
                <div class="Imagem-conteudo">
                    <img src="../assets/pessoas.jpeg" alt="Conectando doadores">
                </div>
            </div>

            <div id="israelCards" class="cards-container">
                <div class="cardC">
                    <h3>281</h3>
                    <p>ONGs cadastradas</p>
                </div>

                <div class="cardCV">
                    <h3>R$ 1.567,92</h3>
                    <p>Valor total arrecadado</p>
                </div>

                <div class="cardCO">
                    <h3>17</h3>
                    <p>ONGs beneficiadas</p>
                </div>

                <div class="cardC">
                    <h3>8</h3>
                    <p>Fornecedores parceiros</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Seção estatistica -->

    <!-- Seção de doações-->
    <main class="Conteudo-principal">
        <div class="Titulo">
            <h1>Nossas ONGs</h1>
            <p>Conheça as organizações que estão tranformando vidas<br>através de projetos impactantes</p>
        </div>


        <div class="Search-filter">
            <input type="text" placeholder="Digite aqui para buscar...">
            <select>
                <option>Todos os tipos</option>
                <option>Animais</option>
                <option>Crianças</option>
                <option>Saúde</option>
                <option>Gays</option>
            </select>
            <select>
                <option>Todos os estados</option>
                <option>RS</option>
                <option>RJ</option>
                <option>MG</option>
                <option>SC</option>
                <option>BH</option>
            </select>
        </div>


        <div class="cards-container">
            <div class="card">
                <div class="card-header">
                    <div class="imagem-conteudo">
                        <img src="../assets/cachorros.png" alt="Pessoas fazendo doações">
                    </div>
                    <div class="card-titulo"> 4 Patas </div>
                    <div class="card-status"><span>São leopoldo</span>

                    </div>
                </div>
                <div class="card-content">
                    <div class="card-descricao">Por favor, queremos alimentos</div>
                    <div class="card-divider"></div>
                    <div class="card-highlight"><strong>Dinheiro</strong></div>
                </div>

                <div class="card-footer">
                    <button> Visualizar tudo </button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="imagem-conteudo">
                        <img src="../assets/judeus.jpeg" alt="Pessoas">
                    </div>
                    <div class="card-titulo"> Judeus </div>
                    <div class="card-status">
                        <span> Israel </span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-descricao"> Queremos viver</div>
                    <div class="card-divider"></div>
                    <div class="card-highlight"><strong>Dinheiro</strong></div>
                </div>
                <div class="card-footer">
                    <button> Visualizar tudo </button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="imagem-conteudo">
                        <img src="../assets/mamaco.jpeg" alt="Pessoas fazendo doações">
                    </div>
                    <div class="card-titulo">Mamacos da tailandia</div>
                    <div class="card-status">
                        <span>India</span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-descricao">precisamos de ajuda</div>
                    <div class="card-divider"></div>
                    <div class="card-highlight"><strong>Banana</strong></div>
                </div>
                <div class="card-footer">
                    <button> Visualizar tudo </button>
                </div>
            </div>
        </div>

        <div class="ONGs">
            <a href="#" class="btn-visualizar">Visualizar as ONGs ></a>
        </div>
        <!-- Seção de doações-->
    </main>

    <!--Como Funciona-->
    <section class="como-funciona">
        <div class="container">
            <h2>Como Funciona</h2>
            <p class="subtitulo">Doar nunca foi tão simples e transparente</p>

            <div class="passos">
                <div class="passo">
                    <div class="passo-icon">
                        <img src="caminho/para/icone1.svg" alt="Ícone ONS" width="50" height="50">
                    </div>
                    <h3>ONGs Cadastram suas Necessidades</h3>
                    <p>Organizações valiosas por 50.000%! Idiane fazer priorários, especificando quantidades e detalhes.
                    </p>
                </div>

                <div class="passo">
                    <div class="passo-icon">
                        <img src="caminho/para/icone2.svg" alt="Ícone Doadores" width="50" height="50">
                    </div>
                    <h3>Doadores Escolhem Como Ajudar</h3>
                    <p>Navegue pelo catálogo de ONSs, filme por outra ou região e selecione os itens que deseja
                        patrocinar.</p>
                </div>

                <div class="passo">
                    <div class="passo-icon">
                        <img src="caminho/para/icone3.svg" alt="Ícone Plataforma" width="50" height="50">
                    </div>
                    <h3>A Plataforma Cuida de Tudo</h3>
                    <p>Seu dinheiro vira cedido que fica na plataforma, onde o ONS escolhe fornecedores com preços
                        expostos, faz a compra e reúnice os itens, sem idar condutindo físico.</p>
                </div>
            </div>
        </div>
    </section>
    <!--Como Funciona-->

    <!--Footer-->
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-join">
                <h2>Junte-se à nós!</h2>
                <p>Seja doador, OMG ou fornecedor - juntos podemos criar um impacto real. Cadastro-se agora e ajude a
                    transformar vidas com transparência e eficiência.</p>
            </div>

            <div class="footer-contact">
                <h3>Entre em Contato</h3>
                <p>Precisa de ajuda ou foca com alguma dúvida? Envia seu mensagem</p>

                <form class="contact-form">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" id="name" placeholder="Sem nome completo">
                        <input type="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="subject">Assunto</label>
                        <select id="subject">
                            <option>Reclamar do site estiver uma merda</option>
                            <option>Reclamar do antissemitismo</option>
                            <option>Dinheiro mal gasto</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="message">Mensagem</label>
                        <textarea id="message" placeholder="Sua mensagem"></textarea>
                    </div>

                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </footer>
    <!--Footer-->

    <script src="../script/modal.js"></script>
    <script src="../script/darkmode.js"></script>

</body>

</html>