<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="IconeSite" href="/assets/Logo.svg">
    <link rel="stylesheet" href="/style/styles.css">
</head>

<body>

    <header class="Site-header">
        <div class="Header-container">
            <div class="Logo">
                <a href="index.html">
                    <img src="/assets/Logo.svg" alt="IconeONG" width="400" height="400">
                </a>
                <span class="Nome-site">Sicron</span>
            </div>
            <nav class="Main-nav" aria-label="Main navigation">
                <a href="/view/index.html" class="Nav-link">Inicio</a>
                <a href="#" class="Nav-link">ONGs</a>
                <input type="text" placeholder="Digite aqui para buscar...">
                <button id="darkModeToggle">🌓 Modo Escuro</button>
            </nav>
        </div>

    </header>

    <main>
        <section class="Secao-doadores">
            <div class="Container">
                <div class="Apresentação_conteudo">
                    <div class="Texto-conteudoDoador">
                        <h1>SICRON</h1>
                        <p>A SICRON surgiu como um projeto acadêmico,<br>
                            com um propósito real: transformar a solidariedade.<br>
                            Durante nossa pesquisa, vimos uma grande carência.<br>
                            Faltava transparência nas plataformas de doação.<br>
                            Muitas não mostram o destino real dos recursos.<br>
                            Criamos esta solução para mudar esse cenário.<br>
                            Queremos dar voz ativa às ONGs brasileiras,<br>
                            permitindo que exponham suas reais necessidades.<br>
                            Aos doadores, oferecemos um meio confiável,<br>
                            seguro, direto e com rastreabilidade total.<br>
                            Cada contribuição pode ser claramente vista.<br>
                            Ajudar se torna simples, transparente e justo.<br>
                            SICRON: solidariedade com propósito real.</p>
                    </div>
                    <div class="Imagem-conteudo">
                        <img src="/assets/mundo-origami-papel.jpg" alt="Conectando doadores">
                    </div>
                </div>
    </main>

    <section>
        <div class="Titulo-Sobre">
            <h1>Junte-se a nós! </h1>
            <p>Sabemos que a confiança é o alicerce da
                generosidade. Por isso,
                toda doação na SICRON é<br>acompanhada de comprovantes com notas fiscais e detalhes da entrega - você vê
                exatamente<br>como seu apoio se transforma em impacto real. E o melhor: doar é simples e seguro. Com
                apenas<br>alguns cliques, você seleciona os itens urgentes que as ONGs realmente precisam, e nosso
                time<br>cuida de toda a compra e logística. Nada de intermediários ou burocracia - apenas o
                caminho<br>mais direto entre sua boa vontade e quem mais precisa.</p>
        </div>
    </section>

    <footer>
        <div class="BotoesDoacao">
            <a href="#" class="Botao">Seja um doador!</a>
            <a href="#" class="Botao">Receba Doações</a>
        </div>

        <div class="contato-container">
            <div class="contato-item">
                <img src="/assets/internet.png" alt="internet" class="contato-icone">
                <span class="contato-texto">www.sicron.org.br</span>
            </div>

            <div class="contato-item">
                <img src="/assets/email.png" alt="email" class="contato-icone">
                <span class="contato-texto">team@sicron.or</span>
            </div>
        </div>

    </footer>

    <script src="/script/darkmode.js"></script>

</body>

</html>